body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 800px;
}

h1, h2 {
    color: #bb86fc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #1f1f1f;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.input-group, .output-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #a0a0a0;
}

input[type="number"], select {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #bb86fc;
    color: #121212;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #3700b3;
    color: #e0e0e0;
}

#toggle-stock-solutions {
    width: 100%;
    margin-bottom: 10px;
    background-color: #03dac6;
}

#toggle-stock-solutions:hover {
    background-color: #018786;
}


.toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #bb86fc;
}

input:focus + .slider {
    box-shadow: 0 0 1px #bb86fc;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.stock-solutions-container{
    margin-top: 20px;
}